<div class="ui-fluid">

    <div class="ui-g-12 ui-md-12 h2">
        <h2 class="encabezado">Actualizacion de informacion Cooperativas </h2>
    </div>

    <p-fieldset class="encabezado" legend="Información cooperativa">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <app-info-basica-coop></app-info-basica-coop>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-10"></div>
                <div class="ui-g-2">
                    <button pButton type="button" label="Buscar" class="ui-button-primary"></button>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <app-informacion-contacto></app-informacion-contacto>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset class="encabezado" legend="Sobreprimas">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-10"></div>
                <div class="ui-g-2">
                    <button pButton type="button" label="Nueva Sobreprima" class="ui-button-primary"></button>
                </div>
            </div>
            <p-table [responsive]="true" [value]="tablaFechaPrima">
                <ng-template pTemplate="header">
                    <tr style="text-align:center">
                        <th *ngFor="let fech of fechPrima">
                            {{fech.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fechPrim>
                    <tr style="text-align:center">
                        <td *ngFor="let fechP of fechPrima">
                            {{fechPrim[fechP.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-fieldset>


    <p-fieldset class="encabezado" legend="Cancelaciones">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-10"></div>
                <div class="ui-g-2">
                    <button pButton type="button" label="Nueva Cancelacion" (onclick)="NC()" class="ui-button-primary"></button>
                </div>
            </div>
            <p-table [responsive]="true" [value]="tablaNovedad">
                <ng-template pTemplate="header">
                    <tr style="text-align:center">
                        <th *ngFor="let nov of novedad">
                            {{nov.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-FecNovedad>
                    <tr style="text-align:center">
                        <td *ngFor="let nove of novedad">
                            {{FecNovedad[nove.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-fieldset>
    <div class="espaciado"></div>
    <app-btn-guardar-continuar></app-btn-guardar-continuar>
</div>