<div class="ResPassPage">
    <div style="text-align: left">
        <p-fieldset legend="Cambio Contraseña">
            <div style="text-align: center">
                <h1 class="font">Contraseña Cambiada</h1>
                <hr width="300px">
                <h3 class="font2">La contraseña ha sido cambiada con éxito.</h3>
                <a [routerLink]="['/login']">Volver a la página principal</a>

            </div>
        </p-fieldset>

    </div>
</div>