.ResPassPage {
    margin-left: 30em;
    margin-right: 30em;
}

.font {
    color: #143D8D;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial;
}

.font2 {
    color: #143D8D;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
}