<div class="ui-fluid">


    <p-fieldset class="alig" legend="Restablecer Contraseña">

        <div class="ui-g">
            <div class="ui-g-12 ui-md-4"></div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-4">
                    Nueva Contraseña:
                </div>
                <div class="ui-g-6">
                    <input pInputText type="password" />
                </div>
            </div>
            <div class="ui-g-12 ui-md-4"></div>
            <div class="ui-g-12 ui-md-4"></div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-4">
                    Repetir contraseña:
                </div>
                <div class="ui-g-6">
                    <input pInputText type="password" />
                </div>
            </div>

        </div>


    </p-fieldset>
    <div class="espaciado"></div>
    <div style="text-align: right">
        <p-button class="nuevaPass" label="Guardar"></p-button>
        <p-button label="Cancelar"></p-button>
    </div>





</div>