<div class="ui-fluid">
    <div class="ui-g-12 ui-md-12 h2">
        <h2 class="encabezado">Consultar movimientos cooperativa</h2>
    </div>

    <p-fieldset class="encabezado" legend="Información cooperativa">
        <div class="ui-g">

            <div class="ui-g-12 ui-md-12">
                <app-info-basica-coop></app-info-basica-coop>
            </div>

            <div class="ui-g-12 ui-md-3">
                <div class="ui-g-12 ui-md-4">
                    Fecha<br>Inscripcion:
                </div>

                <div class="ui-g-12 ui-md-8">
                    <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>

                </div>
            </div>


            <div class="ui-g-12 ui-md-3">
                <div class="ui-g-12 ui-md-3">
                    Sigla:
                </div>

                <div class="ui-g-12 ui-md-9">
                    <input pInputText type="text " readonly="true " />
                </div>
            </div>


        </div>

    </p-fieldset>
    <div class="ui-g">

        <div class="ui-g-12 ui-md-12">
            <app-consulta-movimientos></app-consulta-movimientos>
        </div>
    </div>


    <div class="btnalignament ">
        <p-button label="Aceptar "></p-button>
    </div>
</div>