<div class="ui-fluid">


    <div class="ui-g-12 ui-md-12 h2">
        <h2 style="text-align: left">Confirmar Abono/Devolución</h2>
    </div>



    <p-fieldset class="encabezado" legend="Información cooperativa">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <app-info-basica-coop></app-info-basica-coop>
            </div>
            <div class="ui-g-12 ui-md-12">
                <app-informacion-contacto></app-informacion-contacto>
            </div>
        </div>
    </p-fieldset>

    <!--Panel Informacion Liquidacion-->
    <div class="espaciado"></div>

    <p-fieldset class="encabezado" legend="Información Liquidación PSD">
        <app-tabla-resumen></app-tabla-resumen>
        <div class="espaciado"></div>
        <app-tabla-calculo-primas></app-tabla-calculo-primas>
        <div class="espaciado"></div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-9">
                <div class="ui-g-12">
                    <app-tabla-fecha-primas></app-tabla-fecha-primas>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <div class="espaciado"></div>
                <div class="espaciado"></div>
                <app-btn-consultar-directivos></app-btn-consultar-directivos>
            </div>
        </div>
    </p-fieldset>


    <p-fieldset class="encabezado" legend="Información Operación Realizada">

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-6">
                    Operacion Realizada:
                </div>
                <div class="ui-g-6">
                    <!-- <app-list-autocompletable></app-list-autocompletable> -->
                    <input type="text" pInputText disabled placeholder="Abono/devolucion">
                </div>
            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-6">
                    Fecha Realización de la Operación:
                </div>
                <div class="ui-g-6">
                    <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-3">
                    Observaciones
                </div>
                <div class="ui-g-9">
                    <textarea rows="5" cols="30" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </p-fieldset>
    <app-btn-guardar-continuar
        [parametrosBPM]="parameters">
    </app-btn-guardar-continuar>

</div>

