<p-table [value]="dataCoop" [responsive]="true">
    <ng-template pTemplate="header" class="marginImput">
        <tr style="text-align:center">
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tab>
        <tr style="text-align:center">
            <td *ngFor="let col of cols">
                {{tab[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>