.marginSelect {
    margin-right: 1em;
    margin-left: 1em;
}

.marginLabelDate {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.3em;
}

.marginObs {
    margin-right: 20px;
}

.marginDivObs {
    padding: 20px;
    display: flex;
}

.encabezado {
    text-align: left;
}