<div class="ui-fluid">

    <div class="ui-g-12 ui-md-12 h2">
        <h2 class="encabezado">Confirmacion Pago</h2>
    </div>
    <div class="ui-g-12 ui-md-12">
        <form #forma=ngForm novalidate>
            <div class="ui-fluid row">
                <div class="form-group ui-g">
                    <p-fieldset class="encabezado" legend="Confirmacion pago">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    Entidad:
                                </div>
                                <div class="ui-g-7">
                                    <input class="form-control" [(ngModel)]="confirmacionPago.entidad" name="entidad" pInputText type="text" placeholder="Entidad" readonly="true" />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    NIT:
                                </div>
                                <div class="ui-g-7">
                                    <input class="form-control" [(ngModel)]="confirmacionPago.NIT" name="NIT" pInputText type="text" placeholder="NIT" readonly="true" />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    Fecha:
                                </div>
                                <div class="ui-g-7">
                                    <p-calendar class="form-control" [(ngModel)]="confirmacionPago.fechaPago" name="fechaPago" placeholder="Seleccione" [showIcon]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    Estado:
                                </div>
                                <div class="ui-g-7">
                                    <input class="form-control" [(ngModel)]="confirmacionPago.estadoPago" name="estadoPago" pInputText type="text" placeholder="Estado de pago" readonly="true" />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    Banco:
                                </div>
                                <div class="ui-g-7">
                                    <p-autoComplete class="form-control" [(ngModel)]="confirmacionPago.banco" name="banco" [dropdown]="true" placeholder="Seleccione"></p-autoComplete>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    Numero de transacción:
                                </div>
                                <div class="ui-g-7">
                                    <input class="form-control" [(ngModel)]="confirmacionPago.numTransaccion" name="numTransaccion" pInputText type="text" placeholder="Numero de transaccion" readonly="true" />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    Valor pagado:
                                </div>
                                <div class="ui-g-7">
                                    <input class="form-control" [(ngModel)]="confirmacionPago.valorPagado" name="valorPagado" pInputText type="text" placeholder="Valor Pagado" readonly="true" />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-5">
                                    Descripción:
                                </div>
                                <div class="ui-g-7">
                                    <input class="form-control" [(ngModel)]="confirmacionPago.descripcion" name="descripcion" pInputText type="text" placeholder="Descripcion" readonly="true" />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4"></div>
                            <div class="ui-g-12 ui-md-4"></div>

                        </div>
                    </p-fieldset>
                    <div class="ui-g-12 ui-md-12">

                        <div class="ui-g-10"></div>
                        <div class="ui-g-2 btnalignament">
                            <p-button label="Finalizar" (onClick)="Finalizar(forma)"></p-button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>