<div style="text-align: left">
    <div class="generalPage">
        <h2 class="encabezado h2"> Registrar pagos por consignacion/transferencia</h2>
        <form #forma="ngForm" novalidate>
            <p-fieldset legend="Información Consignación">
                <div class="ui-fluid row">
                    <div class="form-group  ui-g">
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-5">
                                NIT:
                            </div>
                            <div class="ui-g-7">
                                <!-- <app-list-autocompletable></app-list-autocompletable> -->
                                <input class="form-control" [(ngModel)]="pagoConsignacion.NIT" name="NIT" size="40" pInputText type="text" placeholder="NIT" required />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-5">
                                Nombre<br>cooperativa:
                            </div>
                            <div class="ui-g-7">
                                <!-- <app-input-autocomplete></app-input-autocomplete> -->
                                <input class="form-control" [(ngModel)]="pagoConsignacion.nomCooperativa" name="nomCooperativa" pInputText type="text" placeholder="Cooperativa" disabled/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4"></div>
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-5">
                                Banco:
                            </div>
                            <div class="ui-g-7">
                                <app-list-autocompletable></app-list-autocompletable>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-5">
                                Numero de<br>transferencia o <br>cheque:
                            </div>
                            <div class="ui-g-7">
                                <!-- <app-input-autocomplete></app-input-autocomplete> -->
                                <input class="form-control" [(ngModel)]="pagoConsignacion.numTransferencia" name="numTransferencia" pInputText type="text" placeholder="Numero de Transferencia" required />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-5">
                                Valor pagado:
                            </div>
                            <div class="ui-g-7">
                                <input class="form-control" [(ngModel)]="pagoConsignacion.valorPagado" name="valorPagado" pInputText pKeyFilter="money" type="text" placeholder="Valor Pagado" required />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-5">
                                Ciudad:
                            </div>
                            <div class="ui-g-7">
                                <!-- <app-input-autocomplete></app-input-autocomplete> -->
                                <app-list-autocompletable></app-list-autocompletable>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-5">
                                Fecha:
                            </div>
                            <div class="ui-g-7">
                                <p-calendar [showIcon]="true" class="form-control" [(ngModel)]="pagoConsignacion.fechaConsignacion" required name="fechaConsignacion"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4"></div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-2">
                                Observaciones
                            </div>
                            <div class="ui-g-10">
                                <textarea rows="5" cols="30" pInputTextarea class="form-control" [(ngModel)]="pagoConsignacion.observaciones" name="valorPagado" type="textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </form>
    </div>
    <div>
        <app-btn-guardar-continuar></app-btn-guardar-continuar>
    </div>
</div>