.marginLabel {
    margin-right: 15px;
}

.marginImput {
    margin-right: 1.3em;
    margin-left: 0.5em;
}

.marginPanel {
    margin-right: 3em;
    margin-left: 3em;
    padding-right: 3em;
    padding-left: 3em;
}

.espaciado {
    margin-bottom: 2em;
}

.inline {
    display: inline-flex;
}

h2 {
    color: #143D8D;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
}

.generalPage {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.inputFecha {
    width: 154px;
}