<div class="ui-fluid">


    <p-fieldset class="encabezado" legend="Consulta Movimientos">

        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-4">
                    Fecha inicio:
                </div>

                <div class="ui-g-12 ui-md-8">
                    <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>

                </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-4">
                    Fecha Fin:
                </div>

                <div class="ui-g-12 ui-md-8">
                    <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>

                </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-4">
                    <p-button label="Buscar"></p-button>
                </div>

            </div>

            <!-- <app-tabla-resumen></app-tabla-resumen> -->
            <p-table [responsive]="true" [value]="tablaResumen">
                <ng-template pTemplate="header">
                    <tr style="text-align:center">
                        <th>Fecha de pago</th>
                        <th *ngFor="let res of resum">
                            {{res.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-resumen>
                    <tr style="text-align:center">
                        <td>Fecha pago </td>
                        <td *ngFor="let resm of resum">
                            {{resumen[resm.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-4">
                    Total Primas Pagadas:
                </div>

                <div class="ui-g-12 ui-md-8">
                    <input type="text" size="30" readonly="true" pInputText>

                </div>
            </div>
        </div>
    </p-fieldset>
</div>