<!--Panel Información Cooperativa-->
<div class="ui-fluid">
    <h2 class="encabezado h2">
        Gestionar Pagos PSD</h2>

    <p-fieldset class="encabezado" legend="Información cooperativa">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <app-info-basica-coop></app-info-basica-coop> <br>
            </div>
            <div class="ui-g-12 ui-md-12">
                <app-informacion-contacto></app-informacion-contacto>
            </div>
        </div>
    </p-fieldset>
</div>

<!--Panel Informacion Liquidacion-->
<div class="espaciado"></div>

<div style="text-align: left">
    <p-fieldset legend="Información Liquidación PSD">
        <app-tabla-resumen></app-tabla-resumen>
        <div class="espaciado"></div>
        <app-tabla-calculo-primas></app-tabla-calculo-primas>
        <div class="espaciado"></div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-9">
                <div class="ui-g-12">
                    <app-tabla-fecha-primas></app-tabla-fecha-primas>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <div class="espaciado"></div>
                <div class="espaciado"></div>
                <app-btn-consultar-directivos></app-btn-consultar-directivos>
            </div>
        </div>
        <div class="espaciado"></div>
        <app-tabla-fecha-novedades></app-tabla-fecha-novedades>
    </p-fieldset>

    <div class="espaciado"></div>

    <!--Panel información pago-->
    <div style="text-align: left"></div>
    <p-fieldset legend="Información Pago">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-2"></div>
            <div class="ui-g-12 ui-md-8">
                <app-tabla-info-pago></app-tabla-info-pago>
            </div>
            <div class="ui-g-12 ui-md-2"></div>
            <div class="ui-g-12 ui-md-4"></div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-4">
                    Total Pagos
                </div>
                <div class="ui-g-8">
                    <input class="input" pInputText type="text" disabled />
                </div>
            </div>
            <div class="ui-g-12 ui-md-4"></div>
        </div>
    </p-fieldset>
    <div class="espaciado"></div>



    <!--Panel Gestion Novedad  -->
    <div style="text-align: left"></div>

    <p-fieldset legend="Información Gestión Novedad">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-6">
                    Decision Cooperativa
                </div>
                <div class="ui-g-6">
                  <p-dropdown [options]="opcionesCooperativa" (onChange)="cambiarDecision($event)" [(ngModel)]="selectedCooperativa" placeholder="Seleccione" optionLabel="name"
                               [style]="{minWidth:'100%'}"></p-dropdown>
                 <!-- <p>Seleccion: {{selectedCooperativa ? selectedCooperativa.name : 'none'}}</p> -->
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">

                <div class="ui-g-4">
                    <p-button class="boton" label="Descargar FR71"></p-button>
                </div>
            </div>

            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-3">
                    ¿Requiere retransmitir estados financieros?
                </div>
                <div class="ui-g-9">
                    <label class="marginImput"></label>
                    <label class="marginImput">Si</label>
                    <p-radioButton name="groupname" value="Si" text="Si">Si</p-radioButton>
                    <label class="marginImput">No</label>
                    <p-radioButton name="groupname" value="No" text="No">No</p-radioButton>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-6">
                    *Fecha compromiso de pago:
                </div>
                <div class="ui-g-6">
                    <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6"></div>

            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-6">
                    Decisión junta directiva
                </div>
                <div class="ui-g-5">
                    <app-list-autocompletable></app-list-autocompletable>

                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-3">
                    Tiempo de espera:
                </div>
                <div class="ui-g-6">
                    <input pInputText type="text" pKeyFilter="num" placeholder="xxx" />
                </div>


            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-6">
                    ¿Desea escalar a entidad superior?:
                </div>
                <div class="ui-g-5">
                    <app-list-autocompletable></app-list-autocompletable>

                </div>

            </div>
            <div class="ui-g-4">
                <p-button class="boton" label="Enviar Oficio" *ngIf="true"></p-button>
            </div>
        </div>
        <p-table [value]="liq" [responsive]="true">
            <ng-template pTemplate="header">
                <tr style="text-align:center">
                    <th style="width: 15%">Nombre Documento</th>
                    <th style="width: 15%">Documento</th>
                    <th style="width: 20%">Tipo Documental</th>
                    <th style="width: 20%">Etapa Documental</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr style="text-align:center">
                    <td>
                        <!-- <app-input-autocomplete></app-input-autocomplete> -->
                        <input pInputText type="text" />
                    </td>
                    <td>
                        <input pInputText type="text" />
                    </td>
                    <td>
                        <app-list-autocompletable></app-list-autocompletable>
                    </td>
                    <td>
                        <app-list-autocompletable></app-list-autocompletable>
                    </td>
                    <td>
                        <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div class="espaciado"></div>

        <p-table [value]="pagosPSDT" [responsive]="true">
            <ng-template pTemplate="header">
                <tr style="text-align:center">
                    <th *ngFor="let gest of gestion">
                        {{gest.header}}
                    </th>
                    <th>
                        Persona Contacto
                    </th>
                    <th>
                        Observaciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pago>
                <tr style="text-align:center">
                    <td *ngFor="let gest of gestion">
                        {{pago[gest.field]}}
                    </td>
                    <td>
                        <app-list-autocompletable></app-list-autocompletable>
                    </td>
                    <td>
                        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <br>
        <div style="text-align: right">
            <p-button class="marginLabel" label="Agregar" *ngIf="true"></p-button>
        </div> <br>
    </p-fieldset>
    <app-btn-guardar-continuar
        [parametrosBPM]="parameters"
        [parametrosNegocio]="parametrosNegocio">
    </app-btn-guardar-continuar>
</div>

