<p-table [value]="tablaFechaPago" [responsive]="true">
    <ng-template pTemplate="header">
        <tr style="text-align:center">
            <th *ngFor="let inf of fechPago">
                {{inf.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pago>
        <tr style="text-align:center">
            <td *ngFor="let inf of fechPago">
                {{pago[inf.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>