<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-g-4">
                Código SIAF
            </div>
            <div class="ui-g-8">
                <input pInputText type="text" disabled="false" placeholder="SIAF-EJEMPLO" />
            </div>
        </div>

        <div class="ui-g-12 ui-md-3">
            <div class="ui-g-3">
                Nombre
            </div>
            <div class="ui-g-9">
                <input pInputText type="text" disabled="false" placeholder="NOMBRE EJEMPLO" />
            </div>
        </div>

        <div class="ui-g-12 ui-md-3">
            <div class="ui-g-2">
                NIT
            </div>
            <div class="ui-g-8">
                <input pInputText type="text" disabled="false" placeholder="NIT-6545484611" />
            </div>
        </div>

        <div class="ui-g-12 ui-md-3">
            <div class="ui-g-4">
                Tipo Cooperativa
            </div>
            <div class="ui-g-8">
                <input pInputText type="text" disabled="false" placeholder="COOPERATIVA EJEMPLO" /> </div>
        </div>
    </div>
</div>