<div class="ui-fluid">

    <p-fieldset class="alig" legend="Restablecer Contraseña">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-5"></div>

            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-6 center">
                    Ingrese el nombre de Usuario: <br><br>
                    <input pInputText type="text" />
                </div>
            </div>

            <div class="ui-g-12 ui-md-2"></div>

            <div class="ui-g-12 ui-md-5"></div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-6 center">
                    <label>Se le enviará un correo de confirmación.</label>
                </div>

            </div>





        </div>


    </p-fieldset>
    <div class="espaciado"></div>
    <div style="text-align: center">
        <p-button label="Enviar"></p-button>
    </div>



</div>