<p-table [responsive]="true" [value]="tablaResumen">
    <ng-template pTemplate="header">
        <tr style="text-align:center">
            <th *ngFor="let res of resum">
                {{res.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-resumen>
        <tr style="text-align:center">
            <td *ngFor="let resm of resum">
                {{resumen[resm.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>