<div class="ui-fluid">


    <div class="ui-g-12 ui-md-12 h2">
        <h2 class="encabezado">Consultar Movimientos Fogacoop</h2>
    </div>

    <form (ngSubmit)="Busqueda(forma)" #forma=ngForm novalidate>
        <p-fieldset class="encabezado" legend="Criterios búsqueda">
            <div class="ui-fluid row">
                <div class="form-group  ui-g">
                    <div class="ui-g-12 ui-md-3">
                        <!-- <app-info-basica-coop></app-info-basica-coop> -->
                        <div class="ui-g-4">
                            NIT
                        </div>
                        <div class="ui-g-8">
                            <input class="form-control" [(ngModel)]="buscar.NIT" name="NIT" size="40" required pInputText type="text" disabled="false" placeholder="NIT-6545484611" />
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-g-12 ui-md-4">
                            Sigla:
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input class="form-control" [(ngModel)]="buscar.sigla" name="sigla" size="40" required pInputText type="text " disabled="false" placeholder="Sigla" />
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">

                        <div class="ui-g-4">
                            Código SIAF
                        </div>
                        <div class="ui-g-8">
                            <input class="form-control" [(ngModel)]="buscar.codigosiaf" name="codigosiaf" size="40" required pInputText type="text" disabled="false" placeholder="SIAF-EJEMPLO" />
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-g-12">
                            <p-button label="Buscar" type="submit" (onclick)="Busqueda(forma)"></p-button>
                        </div>
                    </div>

                </div>
            </div>
        </p-fieldset>

    </form>


    <p-fieldset class="encabezado" legend="Información cooperativa">
        <div class="ui-g">

            <div class="ui-g-12 ui-md-12">
                <app-info-basica-coop></app-info-basica-coop>
            </div>

            <div class="ui-g-12 ui-md-3">
                <div class="ui-g-12 ui-md-4">
                    Fecha<br>Inscripcion:
                </div>

                <div class="ui-g-12 ui-md-8">
                    <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>

                </div>
            </div>


            <div class="ui-g-12 ui-md-3">
                <div class="ui-g-12 ui-md-3">
                    Sigla:
                </div>

                <div class="ui-g-12 ui-md-9">
                    <input pInputText type="text " readonly="true " />
                </div>
            </div>


        </div>

    </p-fieldset>


    <p-fieldset class="encabezado" legend="Información contacto">

        <div class="ui-g">

            <div class="ui-g-12 ui-md-12">
                <app-informacion-contacto></app-informacion-contacto>
            </div>


        </div>

    </p-fieldset>


    <div class="ui-g">

        <div class="ui-g-12 ui-md-12">
            <app-consulta-movimientos></app-consulta-movimientos>
        </div>
    </div>


    <div class="btnalignament ">
        <p-button label="Aceptar "></p-button>
    </div>
</div>













<!--

    <app-consulta-movimientos></app-consulta-movimientos> <br>
    

</div>
-->

<!--<div style="display: inline-flex"><label class="marginImput">Fecha<br>Inscripcion </label>
                <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>
                <div class="marginConsulta"> <label class="marginConsulta">Sigla</label> </div>
                <input class="inputGeneral" InputText type=" text " />
            </div>-->