<div class=" introducción de la sección de contenido ">
    <div>
        <span class=" feature-title "> Calendario </span>
        <span> Calendar es un componente de entrada para seleccionar una fecha. </span>
    </div>
</div>

<div class=" implementación de la sección de contenido ">
    <div class=" ui-g ui-fluid ">
        <div class=" ui-g-12 ui-md-4 ">
            <h3> Básico </h3>
            <p-calendar [(ngModel)]="date1" [locale]="" dateFormat=" dd / mm / yy "> </p-calendar>
        </div>