<p-button class="boton" (onClick)="showDialog()" label="Consultar Directivos" *ngIf="true"></p-button>
<p-dialog header="Consultar Directivos" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p>Datos de los directivos</p>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>