<div class="ui-g-12">
    <div class="generalPage">
        <div class="h2">
            <h2 style="text-align: left">Informar Pago No Liquidado / Pago sin Almacenar </h2>
        </div>
        <div style="text-align: left">
            <p-fieldset legend="Información Pago">
                <div class="h2">
                    <h3 style="text-align: left">Pago Realizado sin valor de Liquidación / Pago sin Almacenar </h3>
                </div>

                <div>
                    <p-table [value]="infoNoPago" [responsive]="true">
                        <ng-template pTemplate="header" class="marginImput">
                            <tr style="text-align:center">
                                <th *ngFor="let liqd of NoLiq">
                                    {{liqd.header}}
                                </th>
                                <th style="width: 15%">Accion</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" class="marginImput" let-coop>
                            <tr style="text-align:center;">
                                <td *ngFor="let liqd of NoLiq">
                                    {{coop[liqd.field]}}
                                </td>
                                <td>
                                    <button pButton type="button" label="Gestionar Pago"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="espaciado"></div>
            </p-fieldset>
            <div class="btnalignament">
                <p-button label="Aceptar "></p-button>
            </div>
        </div>
        <div class="espaciado"></div>
    </div>
</div>