<div class="generalPage">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-7">
                <div class="ui-g-5">
                    <img src="assets/img/fogacoop.png" width="auto" height="auto" alt="">
                </div>


            </div>
            <div class="ui-g-12 ui-md-5">
                <div class="ui-g-5">
                    <img src="assets/img/Logo-MinHacienda-header.png" width="auto" height="auto" alt="">
                </div>
            </div>
        </div>
    </div>
</div>