<div class="espaciadobtn"></div>
<div class="btnalignament">
  <p-button class="marginLabel" label="Guardar" *ngIf="true"></p-button>

  <p-button label="Continuar" *ngIf="true" (onClick)="receiveParameters()"></p-button>

</div>
<div>
  <p-button label="Aceptar" *ngIf="false"></p-button>
</div>
