<div style="text-align: left">

    <form (ngSubmit)="Ingresar(form)" #form=ngForm novalidate>
        <div class="form-group ui-fluid">

            <div class="ui-g">

                <div class="ui-g-12 ui-md-4"></div>
                <div class="form-group ui-g-4" style="text-align: center">
                    <div class="ui-g-12">
                        <input class="form-control" [(ngModel)]="usuario.cooperativa" name="cooperativa" size="40" pInputText type="text" placeholder="Usuario" required/>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4"></div>

                <div class="ui-g-4"></div>
                <div class="form-group ui-g-4" style="text-align: center">
                    <div class="ui-g-12">
                        <input class="form-control" [(ngModel)]="usuario.password" name="password" size="40" pInputText type="password" placeholder="Password" required/>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4"></div>

                <div class="ui-g-4"></div>
                <div class="ui-g-4" style="text-align: center">
                    <div class="ui-g-12">
                        <div style="margin-left: 25px" size="10" class=" g-recaptcha" data-sitekey="6LezhaYUAAAAAD3kphjDZGg8ApTI78MMs06GVpGd" (onResponse)="showResponse($event)"></div>
                    </div>

                </div>
                <div class="ui-g-12 ui-md-4"></div>

                <div class="ui-g-12" style="text-align: center">
                    <div class="ui-g-4"></div>
                    <div class="ui-g-4">
                        <button pButton label="Ingresar" type="submit"></button>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4"></div>
                <div class="ui-lg-4"></div>
                <div class="ui-lg-12" style="text-align: center">
                    <a href="#" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">¿Ha olvidado su contraseña?</a>
                </div>
            </div>
            <p-toast [style]="{marginTop: '80px'}"></p-toast>
        </div>
    </form>
</div>