<div class="ui-fluid">

    <div class="ui-g-12 ui-md-12 h2">
        <h2 class="encabezado">Información Pago - Cooperativa</h2>
    </div>

    <p-fieldset class="encabezado" legend=" Información PSD ">

        <app-tabla-calculo-primas></app-tabla-calculo-primas>
        <div class="espaciado"></div>
        <app-tabla-fecha-primas></app-tabla-fecha-primas>

    </p-fieldset>
    <form #forma="ngForm" novalidate>
        <div class="ui-fluid row">
            <div class="form-group  ui-g">
                <p-fieldset class="encabezado" legend="Información Para El Pago ">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-6">
                                Banco:
                            </div>
                            <div class="ui-g-6">
                                <!-- <app-list-autocompletable></app-list-autocompletable> -->
                                <p-autoComplete class="form-control" [(ngModel)]="infopago.banco" name="banco" [dropdown]="true" placeholder="Seleccione"></p-autoComplete>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-6">
                                Nombre titular:
                            </div>
                            <div class="ui-g-6">
                                <!-- <app-input-autocomplete></app-input-autocomplete> -->
                                <input class="form-control" [(ngModel)]="infopago.nombreTitular" name="nombreTitular" pInputText type="text" placeholder="Nombre Titular" />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-6">
                                Tipo persona:
                            </div>
                            <div class="ui-g-6">
                                <!-- <app-list-autocompletable></app-list-autocompletable> -->
                                <p-autoComplete class="form-control" [(ngModel)]="infopago.tipoPersona" name="tipoPersona" [dropdown]="true" placeholder="Seleccione"></p-autoComplete>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-6">
                                Documento:
                            </div>
                            <div class="ui-g-6">
                                <!-- <app-input-autocomplete></app-input-autocomplete> -->
                                <input class="form-control" [(ngModel)]="infopago.documentoPersona" name="documentoPersona" pInputText type="text" placeholder="Documento Persona " />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-6">
                                Teléfono
                            </div>
                            <div class="ui-g-6">
                                <!-- <app-input-autocomplete></app-input-autocomplete> -->
                                <input class="form-control" [(ngModel)]="infopago.telefonoPersona" name="telefonoPersona" pInputText type="text" placeholder="Telefono de Persona " />
                            </div>
                        </div>

                    </div>

                </p-fieldset>
                <div class="espaciado"></div>
                <div class="ui-g-12 ui-md-12">

                    <div class="ui-g-10"></div>
                    <div class="ui-g-2 btnalignament">
                        <p-button label="Pagar" (onClick)="Pagar(forma)"></p-button>
                    </div>
                </div>
                <p-toast [style]="{marginTop: '80px'}"></p-toast>
            </div>
        </div>
    </form>
</div>