<p-table [responsive]="true" [value]="dataLiquidacion">
    <ng-template pTemplate="header">
        <tr style="text-align:center">
            <th *ngFor="let liqd of calculo">
                {{liqd.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-liquidacion>
        <tr style="text-align:center">
            <td *ngFor="let liqd of calculo">
                {{liquidacion[liqd.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>