<p-table [responsive]="true" [value]="tablaNovedad">
    <ng-template pTemplate="header">
        <tr style="text-align:center">
            <th *ngFor="let nov of novedad">
                {{nov.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-FecNovedad>
        <tr style="text-align:center">
            <td *ngFor="let nove of novedad">
                {{FecNovedad[nove.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>